[Unit]
Description="Writer pi e-ink screen driver"

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/start-writerpi
ExecStop=/usr/local/bin/stop-writerpi

[Install]
WantedBy=multi-user.target
